.env
.env.genaiscript
.genaiscript
.DS_Store
**/.DS_Store
atlas_backups
docker-compose-dev.yml
logo
# Ignore Oracle Autonomous Database wallet (do NOT commit)
oracle-wallet/
# or explicitly ignore ./oracle-wallet
/oracle-